.App {
  display: grid;
  place-items: center;
  height: 100vh;
  background: rgb(0, 245, 255);
  background: linear-gradient(
    290deg,
    rgba(0, 245, 255, 1) 0%,
    rgba(0, 203, 177, 1) 35%,
    rgba(0, 255, 188, 1) 100%
  );
}
.App__body {
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  background-color: white;
  height: 70vh;
  width: 30vw;
  padding: 30px 30px 30px 30px;
  box-shadow: -20px 20px 20px -6px rgba(0, 0, 0, 0.2);
}

.App__body__title {
  font-family: "Brush Script MT", cursive;
  text-align: center;
  font-size: xxx-large;
  margin-top: 30px;
  margin-bottom: 30px;
}

.App__body__content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
