.Item {
  display: flex;
  margin-bottom: 10px;
  margin-top: 10px;
  align-items: center;
}

.Item__status {
}

.Item__text {
  position: relative;
  overflow-wrap: anywhere;
  flex: 1;
  border-radius: 10px;
  padding: 10px 10px 10px 10px;
}

.MuiCheckbox-colorPrimary.Mui-checked {
  color: rgb(34, 211, 211) !important;
}

/* TODO Add drag and drop efffect for reordering */
/* .Item__text:hover {
  background-color: rgb(34, 211, 211, 0.5);
  cursor: pointer;
} */

.Item__actions {
  padding-left: 10px;
}

.MuiSvgIcon-root:hover {
  cursor: pointer;
  color: rgb(34, 211, 211);
}
