.MyList {
  display: flex;
  margin-top: 30px;
  overflow: hidden;
  margin-right: 10px;
}

.MyList__content {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow: hidden;
  width: fit-content;
}

.MyList__tasks {
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  margin-top: 10px;
}

.MyList__tasks::-webkit-scrollbar {
  display: none;
}

.MyList__divisor {
  /* padding-bottom: 10px; */
  border-bottom: dotted 5px rgb(181, 176, 176);
  margin-left: 70px;
  margin-right: 70px;
  align-content: center;
}

.MyList__label {
  margin-top: 10px;
  text-align: center;
}
